/* Main nvmenu styles
-------------------------------------------------- */

.bs-callout-info {
    background-color: #F4F8FA;
    border-color: #BCE8F1;
}
.bs-callout {
    border-left: 3px solid #EEEEEE;
    margin: 20px 0;
    padding: 20px;
}

.bs-callout-info h4 {
    color: #3A87AD;
}
.bs-callout h4 {
    margin-bottom: 5px;
    margin-top: 0;
}

.bs-callout p:last-child {
    margin-bottom: 0;
}

h4 a:hover{
  text-decoration: none;
}

.panel-title a {
  color:inherit;
  text-decoration: none;
}