{% extends "layout.html" %}
{% block title %}Добавить{% endblock %}
{% block content %}
        <div class="page-header">
          <h1>О проекте</h1>
        </div>

        <p class="lead">Простой конструктор меню на следующую неделю. Должен помочь меньше думать о том что что приготовить и сколько продуктов необходимо купить заранее.</p>
        <p>Отличительно чертой должна стать "интеллектуальная" система рекомендации блюда (которое давно не готовили).</p>
        <ul>
          <li><strong>Кстати идея!</strong> Сделать кнопку автогенерации меню!</li>
          <li>Сделать кнопку "Домой"</li>
        </ul>


{% endblock %}