{% extends "layout.html" %}
{% block title %}Текущая неделя{% endblock %}
{% block content %}
        <div class="page-header">
          <h1>Текущая неделя</h1>
        </div>

        <div class="bs-callout bs-callout-info">
          <h4><a href="/">Завтрак <span class="btn btn-primary btn-xs">добавить</span></a></h4>
          <ul>
            <li><code>Каша:</code> рисовая</li>
            <li><code>Запиканка</code></li>
            <li>Запиканка</li>
          </ul>
        </div>

        <div class="panel panel-warning">
          <div class="panel-heading">
              <h3 class="panel-title"><a href="/week/next/add/1">Первое блюдо <span class="glyphicon glyphicon-plus"></span></a></h3>
          </div>
          <div class="panel-body">
          <p>
            <a href="/cooked/123" style="margin-left:20px" class="btn btn-success btn-xs" title="Приготовлено"><span class="glyphicon glyphicon-ok"></span></a>
            <a href="/move-next-week/123" class="btn btn-warning btn-xs" title="Перенести"><span class="glyphicon glyphicon-chevron-right"></span></a>
            <code>Суп куриный</code>
          </p>
          <p>
            <a href="/cooked/123" style="margin-left:20px" class="btn btn-success btn-xs" title="Приготовлено"><span class="glyphicon glyphicon-ok"></span></a>
            <a href="/move-next-week/123" class="btn btn-warning btn-xs" title="Перенести"><span class="glyphicon glyphicon-chevron-right"></span></a>
            <strong>Борщ</strong>
          </p>
          <p>
            <a href="/cooked/123" style="margin-left:20px" class="btn btn-success btn-xs" title="Приготовлено"><span class="glyphicon glyphicon-ok"></span></a>
            <a href="/move-next-week/123" class="btn btn-warning btn-xs" title="Перенести"><span class="glyphicon glyphicon-chevron-right"></span></a>
            Щи с кислой капустой
          </p>
          </div>
        </div>
        
        <div class="panel panel-info">
          <div class="panel-heading">
            <h3 class="panel-title"><a href="/week/next/add/2"><strong>Второе блюдо</strong> <span class="glyphicon glyphicon-plus"></span></a></h3>
          </div>
          <div class="panel-body">
            <p><strong>Гарнир:</strong> картофель</p>
          </div>
        </div>

        <hr />
        <a href="/next" class="btn btn-default">Следующая неделя</a>
{% endblock %}