<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Меню | Текущая неделя</title>
    <!-- Bootstrap -->
    <link href="/static/css/bootstrap.css" rel="stylesheet" media="screen">
    <link href="/static/css/sticky-footer.css" rel="stylesheet">
    <link href="/static/css/nwmenu.css" rel="stylesheet">
  </head>
  <body>
    <div id="wrap">

      <!-- Begin page content -->
      <div class="container">
        <div class="page-header">
          <h1>Текущая неделя</h1>
        </div>
<!--         <p class="lead">Pin a fixed-height footer to the bottom of the viewport in desktop browsers with this custom HTML and CSS.</p>
        <p>Use <a href="../sticky-footer-navbar">the sticky footer with a fixed navbar</a> if need be, too.</p>

        <h2>Эта неделя</h2> -->
        <div class="bs-callout bs-callout-info">
          <h4>Завтрак</h4>
          <ul>
            <li><code>Каша:</code> рисовая</li>
            <li><code>Запиканка</code></li>
            <li>Запиканка</li>
        </div>

        <div class="bs-callout bs-callout-info">
          <h4>Первое блюдо</h4>
          <p><code>Суп:</code> куриный</p>
          <p><code>Борщ</code></p>
          <p>Щи с кислой капустой</p>
        </div>

        <div class="bs-callout bs-callout-info">
          <h4>Второе блюдо</h4>
          <p><strong>Гарнир:</strong> картофель</p>
        </div>


        <!-- <a href="/" class="btn btn-warning">Добавить</a> -->

        <hr />
        <a href="/next" class="btn btn-default">Следующая неделя</a>
      </div>
    </div>

    <div id="footer">
      <div class="container">
        <p class="text-muted credit">Copyright 2013 <a href="/">DLarionov</a>. <a href="/about">О проекте</a>.</p>
      </div>
    </div>
  </body>
</html>